doctype html
html
  head
    title Demandé d'effacement de mes informations personnelles
  body
    p
      | Madame, Monsieur,
    p
      | Me référant à l’article 106 de la loi relative à l’informatique, aux fichiers et aux libertés et aux articles 21.1 et 17.1.c. du Règlement général sur la protection des données (RGPD), je vous demande de supprimer l'ensemble de mes informations personnelles que vous détenez.
    p
      | Sont à effacer les informations suivantes (à minima) : nom, prénom, adresse, numéro de téléphone.
    p
      | Je vous demande également de bien vouloir transmettre cette requête aux sociétés auxquelles vous avez transmis mes données.
    p
      | Comme le mentionne le RGPD, vous disposez d’un mois pour me faire un retour. Sans réponse de votre part et sans modification de votre part, je me rapprocherai de la CNIL (Commission nationale de l'informatique et des libertés).
    p
      | Dans cette attente, je vous prie de recevoir, Madame, Monsieur, mes salutations respectueuses.
    p
      | #{firstname} #{lastname}
